@model LibraryManagementSystem.WebUI.Models.TimeModel

@using LibraryManagementSystem.WebUI.Security;
@{
    ViewBag.Title = "Zamanı Değiştir";
}

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-indigo">
        <div class="card-header">
            <h3 class="card-title">Zamanda Yolculuk </h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>İlerlemek istediğiniz tarihi seçin:</label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>

                    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control  datepicker-inline", type = "date" } })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Git" class="btn btn-outline-dark" />
                </div>
            </div>

        </div>
    </div>

    if (ViewBag.ZamanHatasi != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-check"></i> Maalesef!</h5>
            @ViewBag.ZamanHatasi
        </div>
    }

}




@section Scripts {

    <script>
            $(function () {
                $('.select2').select2()

                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })

                $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
                $('[data-mask]').inputmask()

                $('#reservation').daterangepicker()
                $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                })
                $('#daterange-btn').daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment()
                    },
                    function (start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                    }
                )

                $('#timepicker').datetimepicker({
                    format: 'LT'
                })

                $('.duallistbox').bootstrapDualListbox()

                $('.my-colorpicker1').colorpicker()
                $('.my-colorpicker2').colorpicker()

                $('.my-colorpicker2').on('colorpickerChange', function (event) {
                    $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
                });

                $("input[data-bootstrap-switch]").each(function () {
                    $(this).bootstrapSwitch('state', $(this).prop('checked'));
                });

            })
    </script>
}

